### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
         - Set
        
### List Comprehension

#### Data Structures in Python
##### Lists

In [ ]:
An ordered sequence of values enclosed within [ ].

- List can be created by [] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [ ]:
# Create an empty list

In [ ]:
#type

In [ ]:
# create a list with int data types

In [ ]:
# create a list with string data type

In [ ]:
# create a list with mixed data types

In [ ]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5,6.5,'age',True]
ls3

In [ ]:
# Extract 'age' from the list ls3

In [ ]:
# Extract 'e'  from the list ls3

In [ ]:
# Extract 'age',True from the list ls3

In [ ]:
ls4= [25,31,[3,4],-5]
# extract [3,4] from the list ls4.

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10]
# extract [43,89]

In [ ]:
# extract 89

In [ ]:
print(dir(first))

In [ ]:
#extend
newlist1=[1,2,3]
newlist2=[5,6]

In [ ]:
# append
newlist3=[6,7,8]
newlist4=[9,10]

In [ ]:
# insert
#syntax: listobject.insert(index,value)

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [ ]:
## remove 
# syntax: listobject.remove(value)
list_1=[1,2,'hi','wel',8]

In [ ]:
first=[2,34,5,[56,81,[43,89],67],10,59,57]

In [ ]:
#remove 81

In [ ]:
#del
#remove elements from the list : remove 81

In [ ]:
# remove 43

In [ ]:
# remove the values 34 & 5.
first1= [2, 34, 5, 56,[[89], 67], 10, 59, 57]

In [ ]:
# remove the values 2 and 10 (first1)

In [ ]:
# reverse
# syntax: list object.reverse()
list1 = [1, 2, 3, 4, 1, 2, 6]

In [ ]:
#index
# returns the index of the element
# list object.index(value)

In [ ]:
### Apply + * on list objects
ls1=[12,23,12,45]
ls2=[34,6,7,8]

In [ ]:
# sort the list object in ascending order
ls6=[12,4,78,2,9,54]

In [ ]:
# sorted() function

In [ ]:
# sort() method

In [ ]:
#descending order

In [ ]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) copy() method
ls9=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [ ]:
# do changes on original list ls9

In [ ]:
#split method
dt='12-08-2022'

In [ ]:
# loop

In [ ]:
#List comprehension
# one line expression of for loop

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop

In [ ]:
#list comprehension : syntax: [expression for if]

In [ ]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']
# create a list of elements which has length is greater than 6.

In [ ]:
L=[4,7,8,9]
# Add value 5 to each element in the list

In [ ]:
# Create a list of elements which is greater than 5 in the given list L

In [ ]:
# Addition of two lists L1 and L2 (adding elements in the lists)
L1=[3,4,5,6]
L2=[1,3,5,8]

In [ ]:
# for loop

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [ ]:
# empty tuple object

In [ ]:
#type

In [ ]:
# create a tuple with elements

In [ ]:
# extract '4' from t3

In [ ]:
# immutable

In [ ]:
# convert tuple object into list object

In [ ]:
#for loop

In [ ]:
### Dictionary
- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [ ]:
# empty dict:

In [ ]:
#type

In [ ]:
# create dict of integer values

In [ ]:
# create  dict of strings values

In [ ]:
# create dict of mixed data types

In [ ]:
#keys

In [ ]:
#values

In [ ]:
#items

In [ ]:
d4={'first':[5,6,7],'second':["a","b"],'third':(7,8,0),'fourth':"hello"}
#extract [5,6,7] from d4.

In [ ]:
#extract 6

In [ ]:
#extract 'b'

In [ ]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}
# extract 'z'

In [ ]:
d6={'new':[9,4,5,['split','merge',10]],'old':('s',17,0),'mid':{'ram':4,'ravi':8}}
#Extract 'merge'

In [ ]:
#extract 8

In [ ]:
# for loop

In [ ]:
#mutable

In [ ]:
# using pop() method to remove the values in the dictionary

In [ ]:
# replace a key name 'mid' into middle
#d6['mid']='middle' # it will replace the values in the corresponding key.

In [ ]:
# using pop() method to rename the key names in the dictionary

In [ ]:
?d6.pop() # shift+tab

### Sets
- Unordered sequence of elements

- create set objects by using {} or set()

- sets are immutable

- sets are iterables

In [ ]:
#create a set
# empty set

In [ ]:
# create a set object of string values

In [ ]:
# create a set object of list values

In [ ]:
#cannot do indexing and slicing

In [ ]:
#immutable

In [ ]:
print(dir(s4))

In [ ]:
# add element in the set s4.
#object.add(value)

In [ ]:
#update
object.update([value1,value2,..])

In [ ]:
# removing the items
- remove()
- pop()
- discard()

#discard() function if the item does not exist in the set then the set remain unchanged 
#whereas remove() method will through an error

In [ ]:
#object.remove(value)

In [ ]:
#object.pop()

In [ ]:
#object.discard(value)

### Set operations
- Union

- Intersection

- Difference

- Symmetric difference

In [ ]:
#union
Days1={'Monday',"Tuesday","Wednesday","Thursday","Sunday"}
Days2={"Friday","Saturday","Sunday"}
#object1.union(object2)

In [ ]:
#intersection
#object1.intersection(object2)

In [ ]:
# difference
# elements in one set which are all not in another set.
A={10,20,30,40,50}
B={100,30,50,40,60}
#object1.difference(object2) # A-B

In [ ]:
# Symmetric differnce
#All the elements except intersection.

In [ ]:
#object1.symmetric_difference(object2)

In [ ]:
# for loop

In [ ]:
### map and filter function
# find the square of elements in the list
#map function: map square function
b=[2,3,4]
# map(fun,iterable)

In [ ]:
# filter function
# filter the words from a list that dont start with the letter 's'
seq=['soup','salad','food','great']

In [ ]:
# Set objects remove duplicates
s=[1,2,4,2,5,3,3,7,7,7]
set1=set(s)
set1

--------------------------------------------------End--------------------------------------------------------------